
@{
    ViewBag.Title = "403 Error";
}
<div class="jumbotron jumbotron-fluid">
    <div class="">
        <h2 class="text-center">403</h2>
        <div class="text-center text-dark">Access Denied</div>
        <h5 class="text-center">It appears you don't have the necessary permissions for the resources.</h5>
    </div>
</div>

