
@{
    ViewBag.Title = "404 Error";
}
<div class="jumbotron jumbotron-fluid">
    <div class="">
        <h2 class="text-center">404</h2>
        <div class="text-center text-dark">Page Not Found</div>
        <h5 class="text-center">The requested resource could not be found.</h5>
    </div>
</div>

