
@{
    ViewBag.Title = "500 Error";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="text-center">500</h2>
        <div class="text-center small text-dark">Internal Server Error</div>
        <h2 class="text-center small">An error occurred while processing your request.</h2>

    </div>
</div>

