
@{
    ViewBag.Title = "401 Error";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="text-center">401</h2>
        <div class="text-center small text-dark">Unauthorized</div>
        <h2 class="text-center small">You must login to access this resource.</h2>
    </div>
</div>